@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

body{
    background: url("https://cnet3.cbsistatic.com/img/NRUeLP-TPVAYLTAQJe2X4rPSqfU=/2015/12/22/500decbb-00fb-4217-93a6-69293cfc8266/gift-cards-2015-01.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.background-color{
    background: #0056aeb5;
    display: grid;
    place-content: center;
    padding: 2rem;
}

.form-container{
    background-color: #ffffff7a;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow:  inset 3px 4px 20px rgb(51 51 51 / 90%), inset -3px -4px 20px rgb(86 85 85 / 90%);;
}

.form-control{
    background-color: #ffffffcf;
}

.whatsapp-btn{
    font-size: 2rem;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}



@media (min-width: 768px) {
    body{
        height: 100vh;
    }

    .background-color{
        height: 100vh;
    }

}